body {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

p {
  color: #555;
}

input, button {
  margin-top: 10px;
  padding: 5px;
}

.result-error {
  color: blue;
}

.result-fail {
  color: red;
}

.result-success {
  color: green;
}
